ode_net/code/model_inspect/bo_prods.csv
ode_net/code/model_inspect/bo_sums.csv
ode_net/code/model_inspect/gene_mult.csv
ode_net/code/model_inspect/wo_prods.csv
ode_net/code/model_inspect/wo_sums.csv
ode_net/code/output/_old/
ode_net/code/output/_pretrained_best_model/
